.tab--group {
  padding: 16px 13px;
  background: #fafafc;
  border: 1px solid #d8dfe1;
  border-radius: 3px 3px;
  width: max-content;
  text-decoration: none;
  display: inline-block;
  color: #003945;
}

.tab--group__active {
  background: #f5f8f8;
  border: 1px solid #003945;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  font-weight: 600;
  color: #003945;
}

.tab--label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  vertical-align: middle;
  color: #929292;
}

.tab--label__active {
  font-weight: 600;
  color: #003945;
}
